:root {
  --bg-color: #f4eeff;
  --font-family: "Poppins", sans-serif;
  --primary-color: #424874;
  --secondary-color: #dcd6f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --rectangle-color: #473262;
  --rectangle-shadow-color: rgb(219, 197, 248);
}

body {
  margin-top: 100px;
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  opacity: 0.7;
}

p {
  background: #ffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

img {
  color: var(--rectangle-color);
}

.navbar {
  background: #dcd6f7;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  background-color: #a6b1e1;
  color: white !important;
  padding: 64px 0;
}

.heroHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.contactMe {
  padding-bottom: 64px;
}

.contact-link {
  background: #dcd6f7;
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: #dcd6f7;
  background-color: white !important;
  border: 1px solid #dcd6f7;
  box-shadow: var(--box-shadow);
}

.btn {
  background-color: #dcd6f7 !important;
  box-shadow: var(--box-shadow);
  border: none;
}

.contain-text {
  padding: 100px 63px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  padding: 60px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.phone {
  margin-bottom: 0;
}

.social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icons {
  width: 74px;
}

.container {
margin: 64px 0;
}

.container h2 {
  text-align: left;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center !important;
  }

  p {
    text-align: center;
  }

  a {
    font-size: 16px;
  }

  .btn {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .index-img {
    display: none;
  }

  .contain-text {
  padding: 50px 63px;
}
}
